html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#guideForm, #chooseGameScreen, #strategyVsStrategyScreen, #gameScreen {
  background-color: #989898;
  position: relative;
  left: auto;
  right: auto;
  margin: auto;
  overflow-x: hidden;
}

.index body {
  background-color: transparent !important;
}

/* Main Menu */
.header {
    color: black;
    text-align: center;
  }
/* END Main Menu */

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 10px;
}

/* In-Game Page */
#defectButton {
  background-color: rgb(247, 59, 59); 
  color:white;
}

#coopButton {
  background-size: 100%;
  background-color: rgb(0, 253, 13); 
  height: 60px;
  color:black;
}

#submitButton {
  background-color: bisque;
}

#helpButton {
  font-weight: bold;
  margin-left: 60%;
  margin-right: 50%;
  border-radius: 47%;
}

.caption {
  display: none;
  position: fixed;
  margin-left: 60%;
  margin-right: 50%;
  float: right;
}

#helpButton:hover + .caption {
  display: block; 
  background-color: beige;
  padding: 4px;
}

#playerScores {
  background-color:aquamarine;
}

.inGameScreenFormDiv {
  text-align: center;
  color: black;
}
/* END In-Game Page */

/* Guide Page */
.guideFormDiv {
  text-align: center;
}

.guideForm {
  font-size: 16px;
}
.mainMenuFormDiv {
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.mainMenuForm {
  font-size: 16px;
  padding: 10px;
}
/* END Guide Page */

/* Console Game */
#playAgainButton {
  font-size: 16px;
  padding: 10px;
  display: none;
}

#nextRound {
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 16px;
  padding: 10px;
}

#playAgain {
  margin: auto;
  font-size: 16px;
  padding: 10px;
}

#startGame {
  font-size: 16px;
  padding: 10px;
}

#splitButton {
  background-color: #028A0F;
  border-color: #03AC13;
  font-size: 16px;
  padding: 5px;
  display: none;
}


#stealButton {
  background-color: #B90E0A;
  border-color: #B90E0A;
  font-size: 16px;
  padding: 5px;
  display: none;
}

#playerPointsPara {
  display: none;
}

#endOfGame {
  display: none;
}

#opponentDetails {
  display: none;
}

#roundNumDisplay {
  display: none;
}

#roundNumDiv {
  display: none;
}

th, td {
  padding: 5px;
  border: 1px solid black
}

#roundRow, #playerChoicesRow, #OpponentChoicesRow {
  text-align: center;
}

#playerChoiceHistoryTable, #stratChoiceHistoryTable {
  display: none;
  float: left;
}

#scoreTable {
  display: none; 
}

#pointTable {
  align-content: center;
}

#toMainMenuDiv {
  font-size: 16px;
  padding: 10px;
  margin: 100px;
  text-align: center;
}

#createGameButton {
  margin-top: 10px;
  margin-left: 22px;
  font-size: 16px;
  padding: 10px;
}

#splitButton {
  margin-right: 20px;
  margin-left: 180px
}

#stealButton {
  margin-right: 170px;
  margin-left: 180px
}

#playerQuestion {
  font-size: 16px;
  font-weight: bold;
  display: none;
}

/* Game over  */
#endOfGame {
  text-align: center;
  padding: 10px;
  color: brown;
  margin-bottom: -21.5px;
}

#opponentDetails {
  float: right;
  font-size: 14px;
  background-color: lightgray;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-left: -460px;
  inline-size: 310px;
  overflow-wrap: break-word;
}

#strategyDetails {
  float: right;
  font-size: 14px;
  background-color: lightgray;
  padding: 10px 10px 0 10px;
  margin-left: -460px;
  inline-size: 310px;
  overflow-wrap: break-word;
}

/* END Game over  */
/* END Console Game */

.dropButton {
  font-size: 16px;
  margin-left: 15px;
  padding: 10px;
  background-color: #2603e9d3;
  color: white;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropButton:hover, .dropButton:focus {
  background-color: #b80028;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  margin-left: 15px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  margin-left: 15px;
  position: absolute;
  background-color: #f1f1f1;
  inline-size: 170px;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content li {
  margin-left: 5px;
  color: black;
  padding: 10px 11px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#opponentStrategyInfo{
  font-weight: bold;
  padding-left: 20px;
}

#opponentStrategy {
  display: block;
}

#buttonInfo {
  margin-top: 100px;
  font-weight: bold;
  padding-left: 20px;
}

#strategyInfo{
  background-color: lightgrey;
  color: black;
  margin-right: 560px;
  margin-bottom: 20px;
  padding: 20px;
  float: right;
  inline-size: 580px;
  overflow-wrap: break-word;
}

#strategyName {
  font-weight: bold;
}

#chooseStrat1, #chooseStrat2, #chooseRounds {
  margin-left: 25px;
}