/* Main Menu */
.header {
    color: black;
    text-align: center;
  }
/* END Main Menu */

/* In-Game Page */
#defectButton {
  background-color: rgb(247, 59, 59); 
  color:white;
}

#coopButton {
  background-color: rgb(0, 253, 13); 
  color:black;
}

#submitButton {
}

#helpButton{
  border-radius: 60%;
}

.inGameScreen {
  color: black;
  background-color: rgb(59, 203, 247);
}
/* END In-Game Page */

/* Guide Page */
.guideFormDiv {
  text-align: center;
}

.guideForm {
  font-size: 16px;
}
.mainMenuFormDiv {
  text-align: center;
}

.mainMenuForm {
  font-size: 16px;
}
/* END Guide Page */